body{
     font-family: "Poppins", sans-serif;
     font-size: 12px;
}
.cointainer{
    width: 80%;
    margin: 0 auto;
}
section{
    padding: 40px 0;
}
span{
    color: #ff136f;
}
/* navigation area style */
.nav-area{
    display: flex;
    align-items: center;
}
.logo img{
    width: 90%;
}
.search-box{
height: 30px;
display: flex;
justify-content: center;
align-items: center;
background-color:#f1f1f1;
border-radius: 17px;
padding: 5px;
}
.search-box input:focus{
    outline: none
}

.search-box input{
    /* padding: 10px; */
    width: 450px;
    height: 35px;
    border: none;
    margin-right: 5px;
    background-color:#f1f1f1;
}
.search-box i{
    color: rgba(169, 169, 169, 0.719);
    font-size: 15px;
}

.nav-manu ul{
    display: flex;
    gap: 8px;
    list-style: none;
    margin: none;
}
.nav-manu ul li a{
    font-size: 1.6em;
    text-decoration:none;
    color: #707070;
}
/* hefder section style */
.header-area{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2,50%);
    background-color: #feeae9;
    padding: 35px;
    border-radius: 15px;
    
}
.header-area .contanr-section {
    display: flex;
    flex-direction: column;
}
.header-area .contanr-section h1{
    font-size:3em;
    margin: 0;
}
.header-area .contanr-section span{
    font-size: 35px;
    font-weight: 300px;  
}
.header-area .contanr-section button{
    border-radius: 7px;
    width: 120px;
    height: 35px;
    border: none;
}
.header-area .contanr-section button a{
    text-decoration: none;
    color: white;
    display:inline-block
    
}
    
.header-area .image-section{
    display: flex;
    justify-content: center;
}
.header-area .image-section img{
width: 70%;
justify-content: center;
}
.pink-color{
    background-color: #ff136f;
}
.cointainer h1{
    font-size: 25px;
}
.sacend-section{
    display: flex;
    justify-content: space-evenly;
}
.top-area{
    font-size: 25px;
}
.item-area{
    display: flex;
    justify-content:space-evenly;
}
.item-area img{
    width: 95px;
}
.item-area h2{
    color: white;
    
    font-size: 28px;
}
.item-area .watch{
    border-radius: 10px;
    padding: 3px 10px;
    height: 100px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    background-color: orange;
}
.item-area .bag{
    border-radius: 10px;
    padding: 3px 10px;
    height: 100px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    background-color:#ff136f;
}
.item-area .show{
    border-radius: 10px;
    padding: 3px 10px;
    height: 100px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    background-color:rgb(1, 1, 187);
}
/* show section style */
.show-title{
    display: flex;
    justify-content: space-between;
}
.show-title h1{
    font-size: 27px;
}
.shoe-bg{
    background-color: #f4f4f4;
}
.show-title a{
    
    font-size: 20px;
    text-decoration: none;
    color: orange;
}

.show-section{
    gap: 2%;
    display: flex;
    justify-content: space-evenly;
}


.product img{
    width: 300px;
   
}
.product .product-title{
    font-size: 20px;
    font-weight: 700;
}
.product{
    border-radius: 15px;
 background-color: white;
 padding: 20px;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.product .product-discription{
    align-items: center;
}
.product .product-price{
    font-size: 1.9em;
    font-weight: 650;
}
.product button{
    background-color: black;
    color: white;
    border-radius: 7px;
    width: 150px;
    height: 45px;
}
.last-section {
    margin:40px auto;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    gap: 0;
    
    justify-content: center;
    align-items: center;
    background-color: #995a7242;
    height: 400px;
}
  

.last-section .emil-input{
    display: flex;
    border-radius: 7px;
    /* width: 100px; */
    gap: 0;
  
}
.emil-input input{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    width: 380px;
    height: 50px;
}
.emil-input{
    
}
.last-section .title-area{
    justify-content: center;
    align-items: center;
}
.emil-input button{
    
    background-color: #ff136f;
    width: 100px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    height: 50px;

}
.title-area{
    /* padding: 120px; */
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1);
}
